<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <fieldset>
      <legend>Category</legend>
      <%= f.collection_radio_buttons :category, Category.all, :id, :name %><br>
    </fieldset>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.collection_select :priority, Priority.all, :id, :name %>
  </div>
  <div class="field">
    <fieldset>
      <legend>Tags</legend>
      <%= f.collection_check_boxes :tags, Tag.all, :id, :name %><br>
    </fieldset>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.check_box :alert %><%= f.label :alert %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
