<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @todo.content %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @todo.due_date %>
</p>

<%= link_to t('.links.edit'), edit_todo_path(@todo) %> |
<%= link_to t('.links.back'), todos_path %>
